* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ea2c62;
}


/*HEADER*/

.header {
    width: 100%;
    height: auto;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 190px;
}

.header__menu {
    position: relative;
    height: 100%;
}

.header__menu:hover .header__menu--options,
.header__menu--options:hover {
    display: block;
}

.header__menu--profile {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile>* {
    margin-left: 6px;
}

.header__menu--profile span {
    color: #fff;
}

.header__menu--options {
    height: 54px;
    display: none;
    list-style: none;
    text-align: right;
    position: absolute;
    bottom: -54px;
    right: 0;
}

.header__menu--options li {
    margin-top: 6px;
}

.header__menu--options li a {
    text-decoration: none;
    color: #fff;
}